<!-- footer START -->
<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
				<a id="powered" href="http://wordpress.org/">WordPress</a>
			</div>

			<div class="col-md-4 col-md-offset-1">
				<p class="pull-left space-from-top">Copyright &copy; 2009-2016 <a href="http://cs.maycamp.com/">Maycamp (Алгоритмика).</a></p>
				<p class="pull-left">
					Theme by <a href="http://www.neoease.com/">NeoEase</a>.
					Valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a>
					and <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS 3</a>.
				</p>
				<p class="pull-left">Optimized with <a href="http://getbootstrap.com/">Bootstrap 3.</a></p>
			</div>

			<div class="col-md-4 col-md-offset-1">
				<p class="pull-left space-from-top"><a href="https://github.com/valo/maycamp_arena">Open Source</a> Project.</p>
				<p class="pull-left">
					Made with <span class="glyphicon glyphicon-heart"></span>
					for the Bulgarian students, competing in informatics.
				</p>
			</div>

			<div class="col-md-1">
				<a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
			</div>
		</div>
	</div>
</div>
<!-- footer END -->
