<!-- footer START -->
<div id="footer">
	<a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
	<a id="powered" href="http://wordpress.org/">WordPress</a>
	<div id="copyright">
		Copyright &copy; 2009 Алгоритмика	</div>

	<div id="themeinfo">
		Theme by <a href="http://www.neoease.com/">NeoEase</a>. Valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS 3</a>.	</div>
</div>
<!-- footer END -->