<!-- footer START -->
<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-md-offset-1 text-center">
				<p>
          Copyright &copy; 2009-2016 <a href="http://cs.maycamp.com/">Maycamp (Алгоритмика).</a> <br>
					Theme by <a href="http://www.neoease.com/">NeoEase</a>.
					Valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a>
					and <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS 3</a>. <br>
				  Optimized with <a href="http://getbootstrap.com/">Bootstrap 3.</a>
        </p>
			</div>

			<div class="col-md-5 text-center">
				<p>
          <a href="https://github.com/valo/maycamp_arena">Open Source</a> Project. <br>
					Made with <span class="glyphicon glyphicon-heart"></span>
					for the Bulgarian students, <br> competing in informatics.
				</p>
			</div>

		</div>
	</div>
</div>
<!-- footer END -->
