<% unless Group.all.blank? %>
  <div class="container-fluid">
    <div class="row">
      <% Group.all.each do |group| %>
        <div class="col-xs-3 group">
          <%= link_to group_path(group) do %>
            <%= image_tag("https://robohash.org/#{group.name}.jpg?size=200x200&bgset=trill") %>
            <p><%= group.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
