<!-- header START -->
<div id="header">
		<!-- banner START -->
		<!-- banner END -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1 logo">
				</div>
				<div style="padding-top: 16px;" class="col-md-4">
					<h2 class="header-title">
						<a class="no-decoration" href="http://cs.maycamp.com/">Maycamp Arena</a>
					</h2>
					<h6 class="header-caption">Състезания по алгоритми</h6>
				</div>
			</div>
			<div class="fixed"></div>
		</div>
</div>
<!-- header END -->
