<!-- header START -->
<div id="header">
	<!-- banner START -->
		<!-- banner END -->
	<div id="caption">
		<h1 id="title"><a href="http://cs.maycamp.com/">Maycamp Arena</a></h1>
		<div id="tagline">Състезания по алгоритми</div>
	</div>
	<div class="fixed"></div>
</div>
