<h2>Практика</h2>
<br />
<p>Тук можете да се упражнявате на вече минали състезания.</p>
<br />
<% if !@practice_contests.blank? %>
<table>
  <tr>
    <th>Име</th>
    <th>Вашите точки</th>
    <th></th>
  </tr>
  <% for contest in @practice_contests %>
    <tr>
      <td><%= contest.name %></td>
      <td><strong><%= current_user.best_practice_score(contest) %></strong> от максимално <%= contest.max_score %></td>
      <td>
        <%= link_to "Практикувай", practice_path(:action => :open_contest, :contest_id => contest.id) %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
В момента няма състезания, на които да можете да се упражнявате.
<% end %>