  <div class="post" id="notice">
    <div class="content">
      <h3>Добре дошли на арената на maycamp!</h3>
      <br />
      <p>Тук може да премерите силите си в областта на алгоритмите. Успех!</p>
      <p><strong>Важно:</strong> <%= link_to "Тук", :action => :rules %> може да прочетете <strong>правилата за 
         участие</strong> на арената, както и информация за системата.</p>
      <div class="fixed"></div>
    </div>
  </div>