<div class="container-fluid">
  <div class="jumbotron">
    <h1>Добре дошли!</h1>

    <br />

    <p>
      <strong>Maycamp arena</strong> е място, където можете да премерите и подобрите
      силите си в областта на алгоритмите. Успех!
    </p>

    <p><strong>Важно:</strong> <%= link_to "Тук", "/rules" %> може да прочетете
      <strong>правилата за участие</strong> на арената, както и информация за системата.
    </p>

    <br />

    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Регистрация", signup_path, class: 'btn btn-default btn-lg', role: 'button' %>
      <%= link_to "Вход", new_session_path, class: 'btn btn-default btn-lg', role: 'button' %>
    </div>

  </div>

</div>
