<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title">Класиране по практика за всички времена</div>
      </div>

      <div class="panel-body">
        <div class="container-fluid">
          <em>
            Класирането е въз основа на сбора от точките на най-доброто решение за всяка
            една задача на дадения състезател. Ако двама състезатели имат еднакъв брой точки, се
            гледа броят на задачите решени за 100 точки. Ако и този брой е еднакъв, то се взима предвид
            кой е пратил по-малък брой решения, а накрая се сортира по азбучен ред на имената. <br>
            <b>Участници, които не са пращали решения през последната година, не влизат в класирането.</b>
          </em>
          <br><br>

          <% cache ["rankings_practice", params[:page] || 1, Run.last] do %>
            <%= render partial: "rankings", locals: {
                rankings: calc_rankings(page: params[:page], per_page: 25),
                pagination: true
              }
            %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
