<h1>Ранглиста по практика</h1>
<p>
  Класирането е въз основа на сбора от точките на най-доброто решение за всяка 
  една задача на дадения състезател. Ако двама състезателя имат еднакъв брой точки се
  гледа броя на задачите решени за 100 точки. Ако и този брой е еднакъв се гледа
  кой има по-малко пратени решения и накрая се гледа по азбучен ред имената.
</p>
<h2>По решени задачи за всички времена</h2>
<br/>
<%= render :partial => 'rankings', :locals => { :rankings => @rankings } %>
<br/>
<p><%= link_to "Обратно към списъка със състезания", root_path %></p>
