<h1>Ранглиста по рейтинг</h1>
<br/>
<% if current_user.admin? %>
  <%= link_to "Преизчисли рейтингите", recalculate_admin_ratings_path, :method => :post %>
<% end %>
<%= render :partial => 'rating_rankings', :locals => { :rankings => @rankings } %>
<br/>
<p><%= link_to "Обратно към списъка със състезания", root_path %></p>
