<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title">Статус на системата - последни събмити</div>
      </div>

      <div class="panel-body">
        <div class="container-fluid">
          <% cache ["status", current_user, params.fetch(:page, 1), Run.maximum(:updated_at)] do %>
            <%= render "common/runs_list", runs: @runs %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
