<ul>
  <li><%= link_to_if controller_name != 'users', "Manage users", admin_users_path %></li>
  <li><%= link_to_if controller_name != 'contests', "Manage contests", admin_contests_path %></li>
  <li><%= link_to "Logoff", logout_path %></li>
</ul>