<h2>Редактирай решение</h2>
<br />
<% form_for [:admin, @run.problem.contest, @run.problem, @run] do |f| -%>
  <%= f.error_messages %>
  <%= render :partial => 'run_fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Промени" %>
  </p>
  <%= link_to "Отказ", :action => :index %>
<% end -%>