<h1>Edit user</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for [:admin, @user] do |f| -%>

<%= render :partial => 'user_fields', :locals => { :f => f } %>

<p>
  <%= submit_tag 'Update' %>
  <%= link_to "Cancel", admin_users_path %>
</p>
<% end -%>
