<h1>Създаване на ново състезание</h1>
<br />
<% form_for [:admin, @contest] do |f| -%>
  <p>
    <%= f.error_messages %>
  </p>
  <%= render :partial => 'contest_fields', :locals => { :f => f } %>
  <br />
  <p>
    <%= f.submit "Създаване" %><%= link_to "Отказ", :action => "index" %>
  </p>
<% end -%>