<h1>Admin panel</h1>
<ul>
  <li><%= link_to "Manage users", :controller => 'admin/users', :action => "index" %></li>
  <li><%= link_to "Manage contests", :controller => 'admin/users', :action => "index" %></li>
</ul>