<h1>Профил</h1>
<em><%= error_messages_for :user %></em>
<%= form_for @user do |f| -%>
<%= render :partial => 'user_fields', :locals => { :f => f, :update => true } %>
<p>
  <%= submit_tag 'Обнови', class: "btn btn-default" %>
</p>
<% end -%>
