<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">Забравена парола</h3>
      </div>

      <div class="panel-body">
        <%= form_tag password_forgot_users_path, class: "form-horizontal" do -%>

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <p>
                Моля, посочете email-а си и на него ще Ви бъде
                изпратен линк за рестартиране на паролата.
              </p>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'email', "Email:", class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= text_field_tag 'email', params[:email], class: "form-control", placeholder: "email адрес" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <%= submit_tag "Прати", class: "btn btn-default" %>
            </div>
          </div>

        <% end -%>
      </div>
    </div>
  </div>
</div>
