<h1>Забравена парола</h1>
<p>Моля, напишете email-а си и на него Ви ще бъде пратен линк за
  рестартиране на паролата на акаунта Ви.</p>
<br/>
<% form_tag password_forgot_users_path do -%>
<p><%= label_tag 'email', "Email:" %>
<%= text_field_tag 'email', params[:email] %></p>
<br />
<p><%= submit_tag 'Прати' %></p>
<% end -%>
