<h1>Задачи по категории</h1>
<h2><%= h(@category.name) %></h2> 
<br>
<% for @cat_prob in @category.problems do %>
  <% if @cat_prob.contest.practicable and @cat_prob.contest.visible then %>
    <%= link_to h(@cat_prob.name), practice_path(:action => :open_contest, :contest_id => @cat_prob.contest_id) %><br>
  <% end %>
<% end %>

