<div id="rules_page_main">
    <div class="notice_box">
        <p>Здравейте!</p>
        <br />
        <p>Тук ще намерите информация за MayCamp Arena, както и отговори на някои от най-често задаваните въпроси.</p>
        <br />
        <p>Може да задавате всякакви въпроси на <em><strong>questions-кльомба-maycamp-точка-com</strong></em>.</p>
        <br />
    </div>
    <br />
    
    <h3>Състезания</h3>
    <br />
    <p>Състезанията на <em>MayCamp Arena</em> са отворени към хора от всички възрасти и всякакъв опит. Задачите са разделени
    по трудност в три "дивизии" - Златна, Сребърна и Бронзова. Задачите в Златната дивизия са най-трудни и са
    сравними с нивото на Международната Олимпиада по Информатика. Задачите от бронзовата дивизия са подходящи за
    всички, дори за хора, които нямат никакъв предишен опит в областта на алгоритмите и информатиката.</p>
    <br />
    <p>Всички състезания продължават по няколко дни, в рамките на които всеки състезател може да избере времеви
    интервал, които му е най-удобен. На страницата със състезанията пише на коя дата започва съответното състезание,
    колко продължава (например 5 часа), и на коя дата завършва (обикновено състезанията се провеждат от петък до понеделник).
    Времето започва да тече от натискането на линка "Започни състезанието".</p>
    <br />
    <p>По време на състезанието състезателят може да изпраща колкото желае решения, като при оценяването се взема предвид само
    последното изпратено решение за всяка задача.</p>
    <br />
    <p>Решенията на всички участници се оценяват след края на състезанието (например вторник сутрин), след което се публикуват
    класиране, тестове и анализи, и състезанието се премества в т.нар. "Зона за практика".</p>
    <br />
    
    <div class="notice_box">
        <p><strong>Важно:</strong> Уважавайте останалите състезатели. Ако открием, че двама състезателя са преписвали 
        един от друг, участието им в MayCamp Arena се прекратява <strong>завинаги</strong>.</p>
    </div>
    
    <br />
    
    <h3>Зона за практика</h3>
    <br />
    Пропуснали сте някое състезание? Няма проблеми! Може да го упражнявате когато решите в зоната за практика. И тъй като
    практиката води до съвършенство, опитайте се да изрешите всички задачи!
    <br />
    <br />
    <p>В зоната за практика може да видите за всяко състезание какъв е максималният постижим брой точки (напр. за състезание с
    3 задачи, всяка по 100 точки, максимумът е 300), както и вашият най-добър резултат до момента. </p>
    <br />
    <p class="nb"><strong>Важно:</strong> Състезанията в зоната за практика се отличават от реалните състезания по две важни неща:</p>
    <br />
    <ul>
      <li>Няма ограничение откъм време - не сте ограничени от 2, 3 или 5 часа за работа.</li>
      <li>Системата тества решенията ви моментално - няма нужда да чакате до края на състезанието</li>
    </ul>
    <br />
    <p class="nb"><strong>Важно:</strong> Ако получите "ce" (Compilation Error), може да натиснете линка "Виж сорса". Най-отдолу ще видите каква е грешката.</p>
    <br />

    <h3>Тестове</h3>
    <br />
    <p>След като приключи състезанието и излезе списък с резултатите, за всеки състезател има детайлна информация за представянето
    му на всеки тест. Ако за даден тест състезателят има отбелязано: </p>
    <br />
    <ul>
      <li><strong>0</strong> - не е изпратил решение на задачата
      <li><strong>ce</strong> - решението не се компилира (<em>compilation error</em>)
      <li><strong>wa</strong> - отговорът му е грешен (<em>wrong answer</em>)
      <li><strong>tl</strong> - използва повече от обявеното в условието разрешено време (<em>time limit exceeded</em>)
      <li><strong>ml</strong> - използва повече от обявената в условието памет (<em>memory limit exceeded</em>)
      <li><strong>re</strong> - решението е crash-нало (<em>runtime error - най-често при излизане извън масивите</em>)
      <li><strong>ok</strong> - тестът е бил успешен
    </ul>
    <br />
    
    <h3>Конфигурация на системата</h3>
    <br />
    <p>Решенията се компилират с:</p>
    <br />
    <pre>
    g++ program.cpp -o program -O2 -s -static -lm -x c++
    </pre>
    <br />
    <p>Версията на компилатора е <strong>g++ (Debian 4.3.2-1.1) 4.3.2</strong>. Тестовата машина е с процесор 
    <strong>Intel(R) Pentium(R) 4 CPU 1.80GHz</strong> на операционна система Linux version 2.6.18-6-486 (Debian 2.6.18.dfsg.1-18etch1).</p>
    <br />
    
    <div class="notice_box">
        <p><strong>Важно:</strong> Различните компилатори имат различни особености и е напълно възможно решението ви
        да се компилира или да работи без проблеми под Visual Studio, но да не работи или дори да не се компилира на арената.</p>
    </div>
    <br />
    
    <h3>За писането на решения</h3>
    <br />
    <p>В задачи с големи вход и изход използвайте printf и scanf за вход и изход, понеже потоците са доста по-бавни (което може
    да доведе до това иначе вярно решение да получи статус "tl").</p>
    <br />

    <p>За да четете long long и за да пишете long long използвайте %lld:</p>
    <br />
    <pre>
    #include <cstdio>
    using namespace std;

    int main ()
    {
      long long int very_large_number;
      scanf("%lld", &very_large_number);
      printf("%lld\n", 2 * very_large_number);
      return 0;
    }
    </pre>

    <br />
    <br />
    <em><strong>Успех от целия екип на MayCamp Arena!</strong></em>
</div>