<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Забравена парола</title>
  </head>
  <body>
    <h1>Забравена парола за потребител <%= @user.name %></h1>
    <p>За да смените паролата за акаунта си посетете този 
      <%= link_to "линк", reset_password_user_url(@user, :token => @user.token) %></p>
  </body>
</html>