@import "bootstrap-sprockets";
@import "bootstrap";
@import "inove";
@import "coderay";
@import "ratings";
@import "codemirror";

#wrap {
  padding:20px 0;
}

body {
  font-family: Lucida Grande, Arial, "MS Trebuchet", sans-serif;
  font-size: 13px;
}

label {
  display: block;
}

h1 {
  margin-top: 0;
}

.notice {
  font-weight: bold;
  color: green;
}

.error {
  font-weight: bold;
  color: red;
}

textarea.source_code {
    width: 600px;
    height: 600px;
}

#navigation ul, #submenu ul {
  margin-bottom: 0;
}

.new_run p, .edit_contest p, .new_contest p, .new_user p, .edit_user p, .new_problem p, .edit_problem p {
  margin-top: 1em;
}

#rules_page_main {
    margin-left: 20px;
    margin-right: 120px;
}

#rules_page_main li {
    margin-left: 25px;
}

#rules_page_main .notice_box {
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    padding: 5px 5px 5px 5px;
}

#results {
  font-size: 0.75em;
}

#errorExplanation {
  margin-top: 20px;
}

#errorExplanation p {
  font-style: italic;
  margin-bottom: 10px;
}

#errorExplanation h2 {
  font-weight: bold;
  font-size: 1.1em;
  border-style: none;
  padding: 0;
}

#errorExplanation ul {
  list-style-type: none;
}

#errorExplanation li {
  padding-left: 10px;
}

.fieldWithErrors input {
  border: 2px solid #f00;
}

.no_bullets {
  list-style-type: none;
}

#submenu {
  border-bottom: 1px solid #999;
	background:#FFF;
}

#submenu ul {
	background:#FFF;
}

#submenu li {
	display:block;
	float: left;
	list-style:none;
	padding: 8px;
}

#submenu li a {
  font-weight: bold;
  color: black;
}

#submenu li:hover {
  background: #EDEFF0;
}

form p em {
  display: block;
  font-size: 0.9em;
}

#categories_list {
  list-style-type: none;
}

.rating a:hover {
  text-decoration: underline;
}

.rating_ultra a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.rating_high a {
  color: #CBDD00;
  font-weight: bold;
  text-decoration: none;
}

.rating_average a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.rating_low a {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

.rating_bad a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.runs_list {
	font-size: 0.8em;

  .status {
    width: 200px;
  }
  .created_at {
    min-width: 90px;
  }

  .time, .mem {
    width: 80px;
  }
}

.label {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-top: 10px;
}

.new_message textarea {
	width: 700px;
	height: 200px;
}

.new_message input[type=text] {
	width: 700px;
}

.message .body {
	border: 1px solid #999;
	padding: 5px;
}

#content {
  padding: 15px;
}

.group {
  text-align: center;
  p {
    font-size: 1.4em;
  }

  .progress-bar {
    color: black;
    font-weight: 600;
  }
}

.contests {
  .practice_score {
    min-width: 500px;
    .progress-bar {
      min-width: 6em;
    }
  }
  .actions {
    max-width: 105px;
  }
}

.progress {
  margin-bottom: 0;
}

.google-sign-in {
  height:100%;
  width:auto;
}
