
.rating a:hover {
  text-decoration: underline;
}

.rating_ultra a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.rating_high a {
  color: #CBDD00;
  font-weight: bold;
  text-decoration: none;
}

.rating_average a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.rating_low a {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

.rating_bad a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
