<h1><%= @category.name %> - Задачи</h1>
<%= link_to 'Списък с всички категории', categories_path %>
<br><br>
<% for cat_prob in @category.problems do %>
  <% if cat_prob.contest.practicable and cat_prob.contest.visible then %>
    <%= link_to cat_prob.contest.name + " / " + cat_prob.name, open_contest_practice_path(:contest_id => cat_prob.contest_id) %><br>
  <% end %>
<% end %>

