<h1>Create contest</h1>
<% form_for [:admin, @contest] do |f| -%>
  <p>
    <%= f.error_messages %>
  </p>
    <%= render :partial => 'contest_fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end -%>